* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: hsl(0, 0%, 100%);
    margin: 15% auto;
    height: 400px;
    width: 600px;
    display: flex;
    border-radius: 30px;
}
.preview-image {
    display: block;
    
}

.preview-image picture img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 300px;
    height: 100%;
    background-size: contain;
}

.product-info {
    width: 100%;
    display: block;
    padding:1.5rem;
}

.p1 {
    font-size: 0.8rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.product-info h1 {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: 0.8rem;
    font-weight: 700;
}

.p2 {
    font-size:0.8rem;
    margin: 1rem 0;
}

.prices {
    font-family: 'Fraunces', serif;
    display: flex;
    align-items: center;
}

p, .span2 {
    color: hsl(228, 12%, 48%);
}

.span1 {
    color: hsl(158, 36%, 37%);
    font-size: 1.5rem;
    font-weight: 800;
}

.span2 {
    margin-left: 1rem;
    font-size: 0.8rem;
    text-decoration: line-through;
}

.primary-button {
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border: 0;
    margin-top: 0.8rem;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.primary-button img {
    margin-right: 1rem;
    width: 23px;
    height: auto;
}

.primary-button:hover {
    background-color: hsl(212, 21%, 14%);
}


@media all and (max-width: 375px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 0.8rem;
        height: auto;
        width: auto;
    }
    .preview-image {
        width: 100%;
        height: 400px;
    }
    .preview-image picture img {
        width: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .product-info {
        width: 100%;
        padding: 0.5rem;
    }
    .product-info h1 {
        font-size: 1.8rem;
        line-height: 1.5rem;
    }
    .prices {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;
    }
    .prices .span1 {
        font-size: 2rem;
    }
}